body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
table, tbody, tr, td, div{
  margin:0;
  padding: 0;
  border: none;
  border-collapse: collapse;
}



.cell{
  background-color: rgb(212, 217, 221);
  --size: 50px;
  width: var( --size);;
  height: var( --size);
}

.cell:hover{
  background-color: rgb(187, 193, 197);
}

.hit{
  background-color: oklch(.645 .246 16.439);
}

.miss{
  background-color: oklch(.704 .04 256.788);
}